In [1]:
# 6.1
class You :
    def setname(self, n) :
        self.name = n
    def setage(self, a) :
        self.age = a
    def show(self) :
        print('이름 : ', self.name, ' 나이 : ', self.age)
my = You()
my.setname('준서')
my.setage(21)
my.show()

이름 :  준서  나이 :  21

In [5]:
# 6.2
class Calc :
    def __init__(self, n) :
        self.a = n
    def plus(self, value) :
        print(self.a, '+', value, '=', self.a + value)
    def mult(self, value) :
        print(self.a, '*', value, '=', self.a * value)
my = Calc(3)
my.plus(7)
my.mult(10)

3 + 7 = 10
3 * 10 = 30

In [1]:
# 6.3
class Calc :
    def __init__(self, n1, n2) :
        self.a = n1
        self.b = n2
    def calculate(self, op) :
        if(op=='+') :
            print(self.a, '+', self.b, '=', self.a + self.b)
        elif(op=='*') :
            print(self.a, '*', self.b, '=', self.a * self.b)

num1 = int(input("Num1 : "))
num2 = int(input("Num2 : "))

obj = Calc(num1, num2)

obj.calculate('+')
obj.calculate('*')

Num1 : 3
Num2 : 5
3 + 5 = 8
3 * 5 = 15

In [3]:
# 6.4 
# (1)

def fib(n) :
    a, b = 0, 1
    while b < n:
        print(b, end=' ')
        a, b = b, a+b
fib(8)

1 1 2 3 5

In [5]:
# (2)
def fib2(n) :
    result = []
    a, b = 0, 1
    while b < n :
        result.append(b)
        a, b = b, a+b
    return result
a = fib2(8)
print(a)

[1, 1, 2, 3, 5]

In [8]:
# 6.5
a = [['도윤', 21], ['하준', 20], ['시우', 22]]
for x, y in a :
    print(x, ' : ', y, '세')

도윤  :  21 세
하준  :  20 세
시우  :  22 세

In [11]:
# 6.6
text = "AI! 나는 인공지능 로봇입니다. 나는 'AI 로봇' 입니다."
def max_counts(text) :
    skips = ['.', ',', ';', ':', '\'', '!']
    
    for ch in skips :
        text = text.replace(ch, '')
    counts = {}
    for i in text.split(' ') :
        if i in counts :
            counts[i] += 1
        else :
            counts[i] = 1
    return counts
max_counts(text)

{'AI': 2, '나는': 2, '인공지능': 1, '로봇입니다': 1, '로봇': 1, '입니다': 1}

In [17]:
people = ['홍', '이', '김', '이', '이', '김']
def max_count(people) :
    counts = {}
    for i in people :
        if i in counts :
            counts[i] += 1
        else :
            counts[i] = 1
    return counts
counts = max_count(people)

In [16]:
# 6.7
print(counts.get(max(counts, key=counts.get))) # 질문

3

In [14]:
# 6.8
print(counts.items())

dict_items([('홍', 1), ('이', 3), ('김', 2)])

In [15]:
# 6.9
for name, count in counts.items() :
    print(name, count)

홍 1
이 3
김 2

In [20]:
people = ['홍', '홍', '김', '이', '홍', '김']
def max_count(people) :
    counts = {}
    for i in people :
        if i in counts :
            counts[i] += 1
        else :
            counts[i] = 1
    return counts
counts = max_count(people)

In [21]:
# 6.10
first = []
max_num = max(counts.values())
for name, count in counts.items() :
    print(name, ' : ', count, '번')
    if count == counts.get(max(counts, key=counts.get)) :
        first.append(name)
print('1등 : ', first)

홍  :  3 번
김  :  2 번
이  :  1 번
1등 :  ['홍']