In [1]:
import pandas as pd

In [2]:
from pandas import Series, DataFrame

In [3]:
obj = pd.Series([4,7,-5,3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [4]:
obj.values

array([ 4,  7, -5,  3])

In [5]:
obj.index # range(4)와 같다

RangeIndex(start=0, stop=4, step=1)

In [6]:
obj2 = pd.Series([4,7,-5,3], index = ['d','b','a','c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [7]:
obj2['a']

-5

In [8]:
obj2['d'] = 6
obj2[['c','a','d']]

c    3
a   -5
d    6
dtype: int64

In [9]:
obj2[obj2 > 0]

d    6
b    7
c    3
dtype: int64

In [10]:
obj * 2

0     8
1    14
2   -10
3     6
dtype: int64

In [11]:
np.exp(obj2)

NameError: name 'np' is not defined

In [ ]:
'b' in obj2

In [ ]:
'e' in obj2

In [ ]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon':16000, 'Utah':5000}

In [ ]:
obj3 = pd.Series(sdata)
obj3

In [ ]:
states = ['California', 'Ohio', 'Oregon', 'Texas']

In [ ]:
obj4 = pd.Series(sdata, index = states)
obj4

In [ ]:
pd.isnull(obj4)

In [ ]:
pd.notnull(obj4)

In [ ]:
obj4.isnull()

In [ ]:
obj3

In [ ]:
obj4

In [ ]:
obj3 + obj4 #DB의 join 과 유사 개념

In [ ]:
obj4.name = 'population'

In [ ]:
obj4.index.name = 'state'

In [ ]:
obj4

In [ ]:
obj

In [ ]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
obj

In [ ]:
data = {'state': ['Ohio','Ohio','Ohio','Nevada','Nevada','Nevada'],
        'year': [2000,2001,2002,2001,2002,2003],
        'pop': [1.5,1.7,3.6,2.4,2.9,3.2]}
frame = pd.DataFrame(data)
frame

In [ ]:
frame.head()

In [ ]:
pd.DataFrame(data,columns=['year','state','pop'])

In [ ]:
frame2 = pd.DataFrame(data, columns=['year','state','pop','debt'],
                      index = ['one','two', 'three', 'four',
                              'five', 'six'])
frame2

In [ ]:
frame2.columns

In [ ]:
frame2['state']

In [ ]:
frame2.year

In [ ]:
frame2.loc['three']

In [ ]:
frame2['debt'] = 16.5
frame2

In [ ]:
val = pd.Series([-1.2,-1.5,-1.7],index=['two','four','five'])

In [ ]:
frame2['debt'] = val
frame2

In [ ]:
frame2['eastern'] = frame2.state == 'Ohio'
frame2

In [ ]:
del frame2['eastern']

In [ ]:
frame2.columns

In [ ]:
pop = {'Nevada': {2001:2.4, 2002: 2.9},
       'Ohio': {2000: 1.5, 2001: 1.7, 2002 : 3.6}}

In [ ]:
frame3 = pd.DataFrame(pop)
frame3

In [ ]:
frame.T

In [ ]:
pd.DataFrame(pop,index=[2001,2002,2003])

In [ ]:
pdata = {'Ohio': frame3['Ohio'][:-1]
         'Nevada': frame3['Nevada'][:2]}

In [ ]:
pd.DataFrame(pdata)

In [ ]:
frame3.index.name = 'year'; frame3.columns.name = 'state'

In [ ]:
frame3

In [ ]:
frame3.values

In [ ]:
frame2.values

In [ ]:
obj = pd.Series(range(3), index=['a','b','c'])

In [ ]:
index = obj.index
index

In [ ]:
index[1:]

In [ ]:
index[1] = 'd' # TypeError 발생

In [ ]:
labels = pd.Index(np.arange(3))
labels

In [ ]:
obj2 = pd.Series([1.5, -2.5, 0], index=labels)
obj2

In [ ]:
obj2.index is labels

In [ ]:
frame3

In [ ]:
frame3.columns

In [ ]:
'Ohio' in frame3.columns

In [ ]:
2003 in frame3.index

In [ ]:
dup_labels = pd.Index(['foo','foo','bar','bar'])
dup_labels

In [ ]:
obj = pd.Series([4.5,7.2,-5.3,3.6], index=['d','b','a','c'])
obj

In [ ]:
obj2 = obj.reindex(['a','b','c','d','e'])
obj2

In [ ]:
obj3 = pd.Series(['blue','purple','yellow'],index=[0,2,4])
obj3

In [ ]:
obj3.reindex(range(6),method='ffill')

In [ ]:
frame = pd.DataFrame(np.arange(9).reshape((3,3)),
                     index=['a','c','d'],
                     columns = ['Ohio','Texas','California'])
frame

In [ ]:
frame2 = frame.reindex(['a','b','c','d'])
frame2

In [ ]:
states=['Texas','Utah','California']
frame.reindex(columns=states)

In [ ]:
obj = pd.Series(np.arange(5.), index=['a','b','c','d','e'])
obj

In [ ]:
new_obj = obj.drop('c')
new_obj

In [ ]:
obj.drop(['d','c'])

In [ ]:
data=pd.DataFrame(np.arange(16).reshape((4,4)),
                  index=['Ohio','Colorado','Utah','New York'],
                  columns=['one','two','three','four'])
data

In [ ]:
data.drop(['Colorado','Ohio'])

In [ ]:
data.drop('two', axis=1)

In [ ]:
data.drop(['two','four'],axis='columns')

In [ ]:
obj.drop('c',inplace=True)
obj

In [ ]:
obj=pd.Series(np.arange(4.),index=['a','b','c','d'])
obj

In [ ]:
obj['b']

In [ ]:
obj[1]

In [ ]:
obj[2:4]

In [ ]:
obj[['b','a','d']]

In [ ]:
obj[[1,3]]

In [ ]:
obj[obj < 2]

In [ ]:
obj['b':'c']

In [ ]:
obj['b':'c']=5
obj

In [ ]:
data=pd.DataFrame(np.arange(16).reshape((4,4)),
                  index=['Ohio','Colorado','Utah', 'New York'],
                  columns=['one','two','three','four'])
data

In [ ]:
data['two']

In [ ]:
data[['three','one']]

In [ ]:
data[:2]

In [ ]:
data[data['three'] > 5]

In [ ]:
data < 5

In [ ]:
data[data<5] = 0
data

In [ ]:
data.loc['Colorado',['two','three']]

In [ ]:
data.iloc[2,[3,0,1]]

In [ ]:
data.iloc[2]

In [ ]:
data.iloc[[1,2],[3,0,1]]

In [ ]:
data.loc[:'Utah','two']

In [ ]:
data.iloc[:,:2][data.three > 5]

In [ ]:
ser = pd.Series(np.arange(3.))
ser

In [ ]:
ser[-1]

In [ ]:
ser2 = pd.Series(np.arange(3.), index=['a','b','c'])
ser2[-1]

In [ ]:
ser[:1]

In [ ]:
ser.loc[:1]

In [ ]:
ser.iloc[:1]

In [ ]:
s1=pd.Series([7.3,-2.5,3.4,1.5], index=['a','c','d','e'])

In [ ]:
s2=pd.Series([-2.1,3.6,-1.5,4,3.1], index=['a','c','e','f','g'])

In [ ]:
s1

In [ ]:
s2

In [ ]:
s1 + s2

In [ ]:
df1 = pd.DataFrame(np.arange(9.).reshape((3,3)),columns=list('bcd'), 
                   index=['Ohio','Texas','Colorado'])

In [ ]:
df2 = pd.DataFrame(np.arange(12.).reshape((4,3)),columns=list('bde'),
                   index=['Utah','Ohio','Texas','Oregon'])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1 + df2

In [ ]:
df1 = pd.DataFrame({'A':[1,2]})
df2 = pd.DataFrame({'B':[3,4]})

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1 - df2

In [ ]:
df1 = pd.DataFrame(np.arange(12.).reshape((3,4)),
                   columns=list('abcd'))

In [ ]:
df2 = pd.DataFrame(np.arange(20.).reshape((4,5)),
                   columns=list('abcde'))

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1 + df2

In [ ]:
df1.add(df2,fill_value=0)

In [ ]:
1 / df1

In [ ]:
df1.rdiv(1)

In [ ]:
df1.reindex(columns=df2.columns, fill_values=0)

In [ ]:
arr = np.arange(12.).reshape((3,4))
arr

In [ ]:
arr[0]

In [ ]:
arr - arr[0]

In [ ]:
frame = pd.DataFrame(np.arange(12.).reshape((4,3)),
                     columns=list('bde'),
                     index=['Utah','Ohio','Texas','Oregon'])

In [ ]:
series = frame.iloc[0]

In [ ]:
frame

In [ ]:
series

In [ ]:
frame - series

In [ ]:
series2 = pd.Series(range(3), index=['b','e','f'])
series2

In [ ]:
frame + series2

In [ ]:
series3 = frame['d']

In [ ]:
frame

In [ ]:
series3

In [ ]:
frame.sub(series3,axis='index')

In [ ]:
frame = pd.DataFrame(np.random.randn(4,3),columns=list('bde'),
                     index=['Utah','Ohio','Texas','Oregon'])
frame

In [ ]:
np.abs(frame)

In [ ]:
f = lambda x: x.max() - x.min()

In [ ]:
frame.apply(f)

In [ ]:
frame.apply(f, axis='columns')

In [ ]:
def f(x):
    return pd.Series([x.min(), x.max()], index=['min','max'])

In [ ]:
frame.apply(x)

In [ ]:
format = lambda x: '%.2f' % x

In [ ]:
frame.applymap(format)

In [ ]:
frame['e'].map(format)

In [ ]:
obj = pd.Series(range(4), index=['d','a','b','c'])

In [ ]:
obj.sort_index()

In [ ]:
frame = pd.DataFrame(np.arange(8).reshape((2,4)),
                     index=['three','one'],
                     columns=['d','a','b','c'])

In [ ]:
frame.sort_index()

In [ ]:
frame.sort_index(axis=1)

In [ ]:
frame.sort_index(axis=1,ascending=False)

In [ ]:
frame.sort_index(axis=1,descending=True)

In [ ]:
obj = pd.Series([4,7,-3,2])

In [ ]:
obj.sort_value()

In [ ]:
obj = pd.Series([4,np.nan,7,np.nan,-3,2])

In [ ]:
obj.sort_values()

In [ ]:
frame = pd.DataFrame({'b':[4,7,-3,2],'a':[0,1,0,1]})
frame

In [ ]:
frame.sort_values(by='b')

In [ ]:
frame.sort_values(by=['a','b'])

In [ ]:
obj = pd.Series([7,-5,7,4,2,0,4])

In [ ]:
obj.rank()

In [ ]:
obj.rank(method='first')

In [ ]:
obj.rank(ascending=False,method='max')

In [ ]:
frame = pd.DataFrame({'b':[4.3,7,-3,2],'a':[0,1,0,1],
                      'c':[-2,5,8,-2.5]})
frame

In [ ]:
frame.rank(axis='columns')

In [ ]:
obj = pd.Series(range(5), index=['a','a','b','b','c'])
obj

In [ ]:
obj.index.is_unique

In [ ]:
obj['a']

In [ ]:
obj['c']

In [ ]:
df = pd.DataFrame(np.random.randn(4,3),index=['a','a','b','b'])
df

In [ ]:
df.loc['b']

In [ ]:
df = pd.DataFrame([[1.4,np.nan],[7.1,-4.5],
                   [np.nan, np.nan], [0.75, -1.3]],
                   index=['a','b','c','d'],
                   columns=['one','two'])
df

In [ ]:
df.sum()

In [ ]:
df.sum(axis='columns')

In [ ]:
df.mean(axis='columns',skipna=False)

In [ ]:
df.idxmax()

In [ ]:
df.cumsum()

In [ ]:
df.describe

In [ ]:
obj = pd.Series(['a','a','b','c']*4)

In [ ]:
obj.describe()

In [ ]:
import pandas_datareader.data as web

In [ ]:
start = datetime(2019,6,1)

In [ ]:
end = datetime(2019,6,30)

In [ ]:
df = web.DataReader('005930.KS','yahoo',start,end) #삼성전자 코드

In [ ]:
@matplotlib inline

In [ ]:
df['Close'].plot

In [ ]:
obj=pd.Series(['c','a','d','a','a','b','b','c','c'])

In [ ]:
uniques = obj.unique()
uniques

In [ ]:
obj.value_counts()

In [ ]:
pd.value_counts(obj.values,sort=False)

In [ ]:
obj

In [ ]:
mask = obj.isin(['b','c'])
mask

In [ ]:
obj[mask]

In [ ]:
to_match=pd.Series(['c','a','b','b','c','a'])

In [ ]:
unique_vals = pd.Series(['c','b','a'])

In [ ]:
pd.Index(unique_vals).get_indexer(to_match)

In [ ]:
result = data.apply(pd.value_counts).fillna(0)