In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])
string_data

In [ ]:
string_data.isnull()

In [ ]:
string_data[0] = None

In [ ]:
string_data.isnull()

In [ ]:
from numpy import nan as NA

In [ ]:
data = pd.Series([1, NA, 3.5, NA, 7])

In [ ]:
data.dropna()

In [ ]:
data[data.notnull()]

In [ ]:
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA],
                     [NA, NA, NA], [NA, 6.5, 3.]])

In [ ]:
cleaned = data.dropna()

In [ ]:
data

In [ ]:
cleaned

In [ ]:
data.dropna(how='all')

In [ ]:
data[4] = NA

In [ ]:
data

In [ ]:
data.dropna(axis=1, how='all')

In [ ]:
df = pd.DataFrame(np.random.randn(7,3))

In [ ]:
df = pd.DataFrame(np.random.randn(7,3))

In [ ]:
df.iloc[:4,1] = NA

In [ ]:
df.iloc[:2,2]=NA

In [ ]:
df

In [ ]:
df.dropna()

In [ ]:
df.dropna(thresh=2) #각 행에서 2개 이상의 유의미한 열을 남기는 행만 고르는 것

In [ ]:
df.fillna(0)

In [ ]:
df.fillna({1: 0.5, 2: 0})

In [ ]:
_ = df.fillna(0, inplace=True)

In [ ]:
df

In [ ]:
df = pd.DataFrame(np.random.randn(6,3))

In [ ]:
df.iloc[2:,1] = NA
df.iloc[4:,2] = NA
df

In [ ]:
df.fillna(method='ffill')

In [ ]:
df.fillna(method='ffill',limit=2)

In [ ]:
data = pd.Series([1., NA, 3.5, NA, 7])

In [ ]:
data.fillna(data.mean())

In [ ]:
data = pd.DataFrame({'k1':['one','two']*3 + ['two'],
                     'k2':[1,1,2,3,3,4,4]})

In [ ]:
data

In [ ]:
data.duplicated()

In [ ]:
data.drop_duplicates()

In [ ]:
data['v1'] = range(7)

In [ ]:
data.drop_duplicates(['k1'])

In [ ]:
data.drop_duplicates(['k1','k2'],keep = 'last')

In [ ]:
data=pd.DataFrame({'food': ['bacon','pulled pork','bacon',
                            'Pastrami','corned beef', 'Bacon',
                            'pastrami','honey ham','nova lox'],
                   'ounces':[4,3,12,6,7.5,8,3,5,6]})

In [ ]:
data

In [ ]:
meat_to_animal = {
  'bacon': 'pig',
  'pulled pork': 'pig',
  'pastrami': 'cow',
  'corned beef': 'cow',
  'honey ham': 'pig',
  'nova lox': 'salmon'
}

In [ ]:
lowercased = data['food'].str.lower()
lowercased

In [ ]:
data['animal']=lowercased.map(meat_to_animal)

In [ ]:
data=pd.Series([1., -999., 2., -999., -1000., 3.])
data

In [ ]:
data.replace(-999,np.nan)

In [ ]:
data.replace([-999, -1000],np.nan)

In [ ]:
data.replace([-999, -1000],[np.nan, 0])

In [ ]:
data.replace({-999 : np.nan, -1000: 0})

In [ ]:
data = pd.DataFrame(np.arange(12).reshape((3,4)),
                    index=['Ohio','Colorado','New York'],
                    columns=['one','two','three','four'])
data

In [ ]:
transform = lambda x: x[:4].upper()

In [ ]:
data.index.map(transform)

In [ ]:
data.index = data.index.map(transform)
data

In [ ]:
data.rename(index=str.title,columns = str.upper)

In [ ]:
data.rename(index={'OHIO': 'INDIANA'},
            columns={'three': 'peekaboo'})

In [ ]:
data.rename(index={'OHIO': 'INDIANA'},inplace=True)
data

In [ ]:
ages = [20,22,25,27,21,23,37,31,61,45,41,32]

In [ ]:
bins = [18, 25, 35, 60, 100]

In [ ]:
cats = pd.cut(ages, bins)

In [ ]:
cats

In [ ]:
cats.codes

In [ ]:
cats.categories

In [ ]:
pd.value_counts(cats)

In [ ]:
pd.cut(ages, [18,26,36,61,100], right=False)

In [ ]:
group_names = ['Youth','YoungAdult','MiddleAged','Senior']

In [ ]:
pd.cut(ages,bins,labels=group_names)

In [ ]:
pd.cut(data, 4, precision=2)

In [ ]:
data = np.random.randn(1000) #정규분포

In [ ]:
cats = pd.qcut(data,4) #4분위로 분류
cats

In [ ]:
pd.value_counts(cats)

In [ ]:
pd.qcut(data,[0,0.1,0.5,0.9,1.])

In [ ]:
data = pd.DataFrame(np.random.randn(1000,4))

In [ ]:
data.describe()

In [ ]:
col = data[2]

In [ ]:
col[np.abs(col) > 3]

In [ ]:
data[(np.abs(data) > 3).any(1)]

In [ ]:
data[(np.abs(data) > 1.2).all(1)]

In [ ]:
data[np.abs(data) > 3] = np.sign(data) * 3

In [ ]:
data.describe()

In [ ]:
np.sign(data).head()

In [ ]:
df = pd.DataFrame(np.arange(5*4).reshape((5,4)))

In [ ]:
sampler = np.random.permutation(5)
sampler

In [ ]:
df

In [ ]:
df.take(sampler)

In [ ]:
df.sample(n=3)

In [ ]:
choices = pd.Series([5,7,-1,6,4])

In [ ]:
draws = choices.sample(n=10,replace=True)
draws

In [ ]:
df = pd.DataFrame({'key':['b','b','a','c','a','b'],
                   'data1': range(6)})

In [ ]:
pd.get_dummies(df['key'])

In [ ]:
dummies = pd.get_dummies(df['key'],prefix='key')

In [ ]:
df_with_dummy = df[['data1']].join(dummies)
df_with_dummy

In [ ]:
mnames = ['movie_id','title','genres']

In [ ]:
# 오류발생
movies = pd.read_table('datasets/movielens/movies.dat',sep='::',
                       header=None,names=mnames)

In [ ]:
movies[:10]

In [ ]:
all_genres = []

In [ ]:
for x in movies.genres:
    all_genres.extend(x.split('|'))

In [ ]:
genres = pd.unique(all_genres)
genres

In [ ]:
zero_matrix = np.zeros((len(movies), len(genres)))

In [ ]:
dummies = pd.DataFrame(zero_matrix, columns = genres)

In [ ]:
gen = movies.genres[0]

In [ ]:
gen.split('|')

In [ ]:
dummies.columns.get_indexer(gen.split('|'))

In [ ]:
for i, gen in enmerate(movies, genres):
    indices = dummies.columns.get_indexer(gen.split('|'))
    dummies.iloc[i, indices] = 1

In [ ]:
movies_windic = movies.join(dummies.add_prefix('Genre_'))

In [ ]:
movies_windic.iloc[0]

In [ ]:
np.random.seed(12345)

In [ ]:
values = np.random.rand(10)
values

In [ ]:
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]

In [ ]:
pd.get_dummies(pd.cut(values, bins))

In [ ]:
val = 'a,b,   guido'

In [ ]:
val.split(',')

In [ ]:
pieces = [x.strip() for x in val.split(',')]
pieces

In [ ]:
first, secon, third = pieces

In [ ]:
first + '::' + second + '::' + third

In [ ]:
'::'.join(pieces)

In [ ]:
'guido' in val

In [ ]:
val.index(',')

In [ ]:
val.find(':')

In [ ]:
val.index(':') # error 발생

In [ ]:
val.count(',')

In [ ]:
val.replace(',','::')

In [ ]:
val.replace(',', '')

In [ ]:
# count  endswith   startswith   join   index   find     rfind   replace   strip   rstrip  lstrip
# lower   upper     casefold      ljust

In [ ]:
import re

In [ ]:
text = "foo bar\t baz \tqux"

In [ ]:
re.split('\s+',text)

In [ ]:
regex = re.compile('\s+')

In [ ]:
regex.split(text)

In [ ]:
regex.findall(text)

In [ ]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""

In [ ]:
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'

In [ ]:
regex = re.compile(pattern, flags = re.IGNORECASE)

In [ ]:
regex.findall(text)

In [ ]:
m = regex.search(text)
m

In [ ]:
text[m.start():m.end()]

In [ ]:
print(regex.match(text))

In [ ]:
print(regex.sub('REDACTED',text))

In [ ]:
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'

In [ ]:
regex = re.compile(pattern, flags = re.IGNORECASE)

In [ ]:
m = regex.match('wesm@bright.net')

In [ ]:
m.group

In [ ]:
regex.findall(text)

In [ ]:
print(regex.sub(r'Username: \1, Domain: \2, Suffix: \3', text))

In [ ]:
# findall   finditer    match     search       split       sub      subn

In [ ]:
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com', 'Rob': 'rob@gmail.com', 'Wes': np.nan}

In [ ]:
data = pd.Series(data)
data

In [ ]:
data.isnull()

In [ ]:
data.str.contains('gmail')

In [ ]:
pattern

In [ ]:
data.str.findall(pattern, flags=re.IGNORECASE)

In [ ]:
matches = data.str.findall(pattern, flags=re.IGNORECASE)
matches

In [ ]:
matches.str.get(1)

In [ ]:
matches.str[0]

In [ ]:
data.str[:5]

In [ ]:
# 벡터화한 문자열 메서드
# cat   contains    count    extract     endswith     startswith      findall    get   isalnum    isalpha
# isdecimal     isdigit     islower      isnumeric     isupper      join    len    lower     upper
# match      pad     center     repeat     replace     slice